.skills-container {
    display: flex;
    /* flex-direction: column; */
    /* display: inline-block; */
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.skill {
    color: #5944E4;
    background-color: #e9e5ff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    font-weight: 500;
}

.edu-title {
    line-height: 1.5;
}

.edu-institute {
}

.edu-duration {
    opacity: 0.5;
}