.about {
    font-size: 1.2rem;
    line-height: 1.6;
    align-items: baseline;
    max-width: 700px;
    margin: 0 auto;
    letter-spacing: 0.1px;
}

.bio-img-text-container {
}

.bio-heading {
    font-weight: 500;
    color: #5944E4;
    font-size: 3rem;
    /* padding-bottom: 0.6rem; */
}

.bio-hr {
    height: 1px;
    width: 40%;
    background-color: rgb(230, 230, 230);
    margin: 0 auto 0.5rem 0;
}

.bio-img {
    width: 130px;
    border-radius: 50%;
}

.bio-img-head-wrapper {
    /* display: flex;
    align-items: center;
    gap: 2rem; */
}

.bio-container {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bio-bold {
    font-weight: 500;
    /* text-decoration: #5944E4 wavy underline; */
}

@media (min-width: 600px) {
    .about {
    }

    .bio-img-text-container {
        display: flex;
        align-items: start;
        gap: 2rem;
    }
}