
.card-container {
    border: 2px solid #CE195A;
    border-radius: 17px;
    margin-bottom: 2rem;
    padding: 40px;
    width: 100%;
    overflow: hidden;
}

.card-project-type-stack {
    display: flex;
    justify-content: space-between;
}

.card-project-type {
    color: #690026;
    text-transform: uppercase;
    font-size: 0.8rem;
    /* lowercase */
    /* capitalize */
}

.card-project-stack {
    font-size: 0.5rem;
}

.card-project-title {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
}

.card-project-description {
    font-size: 0.8rem;
}

.card-project-github {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-decoration: underline;
}