#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  font-family: 'Inter', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

section > h2 {
  margin-top: 4rem;
}

section > div {
  /* display: flex; */
  /* flex-wrap:wrap; */
  /* gap: 2rem; */
  /* width: 100%; */

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

section > h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(105, 105, 105);
  font-weight: 300;
}


@media (min-width: 930px) {
  section > div {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tabs {
  display: flex;
  gap: 2rem;
  /* max-width: 950px; */
  /* margin: 0 auto; */
}