* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

/* .main-container {
  max-width: 900px;
  margin: 0 auto;
} */

.tabs-heading {
  font-weight: 300;
  margin-bottom: 1.5rem;
  opacity: 0.5;
}